body{
	padding-top: 70px;
}
.image {
  width: 100%;
  height: 250px;
  background-size: cover;
  background-position: center center;
}
.jumbotron{
	color: #2c3e50;
	background:#ecf0f1;
}
.navbar-inverse{
	background: #2c3e50:  
}
.navbar-inverse .navbar-nav>li>a {
    color: white;
}
.navbar-inverse .navbar-brand{
	color: white;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #f7f7f7;
}

.thumbnail:hover .overlay {
  opacity: 0.5;
}

.text {
  color: black;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}